#map {
    width: 100vw;
    height: 100vh;
}

.gm-style-iw {
    max-width: 300px;
}
.gm-style-iw img {
    max-width: 300px;
    max-height: 190px;
}

#legend {
    position: absolute;
    z-index: 2;
    bottom: 24px;
    right: 60px;
    width: calc(100% - 56px);
    max-width: 500px;
    padding: 10px;
    background: #fff;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
    font-size: 12px;
}

#close:target #legend .legend-content, #close:target #legend .close {
    display: none;
}

#close:target #legend {
    width: auto;
}

@media screen and (max-width: 992px) {
    #legend .legend-content, #legend .close {
        display: none;
    }

    #legend {
        top: 10px;
        right: 25px;
        bottom: auto;
        width: auto;
    }

    #legend:target {
        width: calc(100% - 60px);
    }

    #legend:target .legend-content, #legend:target .close {
        display: flex;
    }
}

@media screen and (max-width: 610px) {
    #legend:target {
        width: calc(100% - 135px);
    }
}

#legend a {
    color: inherit;
}
#legend a:hover {
    text-decoration: none;
}

#legend h1, #legend h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#legend h1 {
    font-size: 16px;
}

#legend h2 {
    font-size: 13px;
}

#legend .close {
    font-size: 20px;
}

#legend img {
    max-width: 26px;
    margin-right: 5px;
}