#map {
    width: 100vw;
    height: 100vh;
}

.gm-style-iw {
    max-width: 300px;
}
.gm-style-iw img {
    max-width: 300px;
    max-height: 190px;
}

#legend {
    position: absolute;
    z-index: 2;
    bottom: 23px;
    right: 60px;
    width: 500px;
    padding: 10px;
    background: #fff;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 12px;
}

#legend h1 {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #212529;
}

#legend img {
    max-width: 20px;
    margin-right: 5px;
}